**/.DS_Store

# ignore .git and .cache folders
.git
**/.cache
**/__pycache__

**/.idea
**/*.pot
**/.vscode

.eslintcache
node_modules
**/dist
**/.medusa
**/.turbo
**/.env
volumes
.cache
build
build-vendor
uploads